:root {
    --background-color: darkblue;
    --heading-color: steelblue;
    --padding: 10px;
    --border: 1px solid #000;
    --color: white;
    --text-align:center;
    --height: auto;
    --margin:1em;
    --img-padding:2px;
    --box-shadow:0 0 30px gray;
}



nav{
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: var(--color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--heading-color);
}

img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: var(--img-padding);
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20em;
    margin: var(--margin);
    border: var(--border);
    padding: 1em;
    background-color:var(--color);
    color: #333;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height);
}

main img {
    border: 1px solid steelblue;
    box-shadow: var(--box-shadow);
    padding: var(--img-padding);
    width: 150px;
    height: var(--height);
}

footer {
    margin-top: var(--margin);
    border-top: var(--border);
    text-align: var(--text-align);
}