
main {
    max-width: 350px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 1px;
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 10 auto;
}
h2 {
    text-decoration: underline 1px;
    text-underline-offset: 6px;
    
}

img {
    display: block;
    width: 350px;
    height: auto;
    margin: 3px solid gray;
    box-shadow: 0 0 15px gray;
}

section {
    background-color: #ddd;
    border: 10px white;
    padding: 100px white;
    margin: 10px solid gray;
    font-size: smaller;
    text-align: left;

}

footer {
    background-color: #333;
    color: white;
    padding: 1px;
    text-align: center;
    font-size: larger;
    max-width: 480px;
    margin: 0 auto;
}